body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #ffe3d9;
}

#mainPage {
  background-color: #ffe3d9;
  position: absolute;
  height: 100%;
  width: 100%;
}

#navigation {
  margin-top: 35px;
}

.nav-btn {
  border: none;
  position: fixed;
  font-size: 25px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bolder;
  background-color: #ffe3d9;
  color: #e34d35;
  border-radius: 10px;
  padding: 8px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #e34d35;
  color: #ffe3d9;
}

#menu {
  margin-left: 850px;
}

#about {
  margin-left: 950px;
  background-color: #e34d35;
  color: #ffe3d9;
}

#book {
  margin-left: 1100px;
}

p {
  font-family: "Share Tech Mono", monospace;
  color: #631e11;
  font-size: 18px;
}

#p1 {
  margin-left: 600px;
  margin-top: 180px;
  animation-name: slideOne;
  animation-duration: 1.5s;
}

@keyframes slideOne {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 180px;
  }
}

#p2 {
  margin-left: 100px;
  margin-top: 120px;
  animation-name: slideTwo;
  animation-duration: 1.5s;
}

@keyframes slideTwo {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 120px;
  }
}

#p3 {
  margin-left: 100px;
  margin-top: 150px;
  padding-bottom: 150px;
  font-size: 22px;
}

@keyframes bounce {
  from {
    margin-top: -540px;
  }

  to {
    margin-top: -520px;
  }
}

#heart {
  margin-top: -130px;
  margin-left: 625px;
  position: absolute;
}

#logo {
  background-color: transparent;
  border: none;
  margin-top: 35px;
  margin-left: 80px;
  position: fixed;
}

#logo:hover {
  cursor: pointer;
}

#utensils {
  margin-top: -550px;
  margin-left: 1000px;
  position: absolute;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-direction: alternate;
}

#cucumber {
  margin-top: -720px;
  margin-left: 300px;
  position: absolute;
  animation-name: bounceCucumber;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-direction: alternate;
}

#tomato {
  margin-top: -700px;
  margin-left: 200px;
  position: absolute;
  animation-name: bounceCucumber;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
  animation-duration: 0.8s;
  animation-direction: alternate;
}

@keyframes bounceTomato {
  from {
    margin-top: -720px;
  }

  to {
    margin-top: -700;
  }
}

@keyframes bounceCucumber {
  from {
    margin-top: -740px;
  }

  to {
    margin-top: -720px;
  }
}
