body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #ffe3d9;
}

#mainPage {
  background-color: #ffe3d9;
  position: absolute;
  height: 100%;
  width: 100%;
}

#navigation {
  margin-top: 35px;
}

.nav-btn {
  border: none;
  position: fixed;
  font-size: 25px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bolder;
  color: #e34d35;
  border-radius: 20px;
  padding: 8px;
  background-color: #ffe3d9;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #e34d35;
  color: #ffe3d9;
}

#menu {
  margin-left: 850px;
}

#about {
  margin-left: 950px;
}

#book {
  margin-left: 1100px;
}

#book-form {
  margin-top: 120px;
  margin-left: 250px;
  margin-right: 800px;
}

fieldset {
  border: none;
  font-family: "Share Tech Mono", monospace;
  color: #631e11;
  font-size: 25px;
  background-color: #ffe3d9;
}

legend {
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

input {
  display: grid;
  border-radius: 5px;
  border: solid;
  border-width: 2px;
  margin: 20px;
  color: #631e11;
  width: 150px;
}

#submit {
  background-color: #631e11;
  color: #ffe3d9;
  margin-top: 50px;
  font-family: "Share Tech Mono", monospace;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
}

/*submitze gvinda ro iyos its been booked successfully da rame pixel art gamovides da
return button kidev*/

#submit:hover {
  cursor: pointer;
  background-color: #e34d35;
}
