body{
  margin-top: 0px;
  margin-left: 0px;
}

#mainPage {
  background-color: #ffe3d9;
  position: absolute;
  height: 100%;
  width: 100%;
}

#welcome {
  color: #631e11;
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 200px;
}

h1{
  font-size: 45px;
}

p{
  font-size: 25px;
}

.nav-btn {
  border: none;
  position: absolute;
  margin-top: -310px;
  font-size: 25px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bolder;
  background-color: #ffe3d9;
  color: #e34d35;
  border-radius: 20px;
  padding: 8px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #e34d35;
  color: #ffe3d9;
}

#menu {
  margin-left: 850px;
}

#about {
  margin-left: 950px;
}

#book {
  margin-left: 1100px;
}

/* scroll 
/* 1. skeleton  
/* 2. visuals
/* 3. functionality 