body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #ffe3d9;
}

#mainPage {
  background-color: #ffe3d9;
  position: absolute;
  height: 100%;
  width: 100%;
}

#navigation {
  margin-top: 35px;
}

.nav-btn {
  border: none;
  position: fixed;
  font-size: 25px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bolder;
  background-color: #ffe3d9;
  color: #e34d35;
  border-radius: 20px;
  padding: 8px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #e34d35;
  color: #ffe3d9;
}

#menu {
  margin-left: 850px;
}

#about {
  margin-left: 950px;
}

#book {
  margin-left: 1100px;
}

#burger {
  margin-left: 230px;
  margin-top: 70px;
}

#pizza {
  margin-left: 90px;
  margin-bottom: 10px;
}

#salad {
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: -25px;
}

#lavacake {
  margin-left: 215px;
  margin-top: 40px;
  margin-bottom: -20px;
}

#icecream {
  margin-left: 28px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#cheesecake {
  margin-left: 92px;
  margin-bottom: 25px;
}

#bruschetta {
  margin-left: 260px;
  margin-top: 20px;
}

#fries {
  margin-left: 70px;
  margin-bottom: 20px;
}

#nuggets {
  margin-left: 75px;
  margin-bottom: -24px;
}
