body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #ffe3d9;
}

#mainPage {
  background-color: #ffe3d9;
  position: absolute;
  height: 100%;
  width: 100%;
}

#navigation {
  margin-top: 35px;
}

.nav-btn {
  border: none;
  position: fixed;
  font-size: 25px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bolder;
  background-color: #ffe3d9;
  color: #e34d35;
  border-radius: 10px;
  padding: 8px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: #e34d35;
  color: #ffe3d9;
}

#menu {
  margin-left: 850px;
  background-color: #e34d35;
  color: #ffe3d9;
}

#about {
  margin-left: 950px;
}

#book {
  margin-left: 1100px;
}

#main {
  position: relative;
  margin-left: 230px;
  margin-top: 150px;
  margin-bottom: -110px;
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  color: #631e11;
  font-weight: bold;
}

#dessert {
  position: relative;
  margin-left: 230px;
  margin-top: 150px;
  margin-bottom: -80px;
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  color: #631e11;
  font-weight: bold;
}

#sides {
  position: relative;
  margin-left: 230px;
  margin-top: 125px;
  margin-bottom: -50px;
  font-family: "Share Tech Mono", monospace;
  font-size: 25px;
  color: #631e11;
  font-weight: bold;
}

#burger {
  margin-left: 230px;
  margin-top: 70px;
  animation-name: burgerJump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes burgerJump {
  from {
    margin-top: 76px;
  }

  to {
    margin-top: 70px;
  }
}

#burger-name {
  position: absolute;
  margin-left: 230px;
  margin-top: -32px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#burger-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 230px;
  position: absolute;
}

#burger-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 435px;
  position: absolute;
  margin-top: 90px;
}

#pizza {
  margin-left: 90px;
  margin-bottom: 10px;
  animation-name: pizzaJump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pizzaJump {
  from {
    margin-bottom: 10px;
  }

  to {
    margin-bottom: 16px;
  }
}

#pizza-name {
  position: absolute;
  margin-left: 548px;
  margin-top: -32px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#pizza-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 548px;
  position: absolute;
}

#pizza-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 750px;
  position: absolute;
  margin-top: 90px;
}

#salad {
  margin-left: 110px;
  margin-top: 50px;
  margin-bottom: -25px;
  animation-name: saladJump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes saladJump {
  from {
    margin-bottom: -25px;
  }

  to {
    margin-bottom: -19px;
  }
}

#salad-name {
  position: absolute;
  margin-left: 863px;
  margin-top: -32px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#salad-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 863px;
  position: absolute;
}

#salad-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 1070px;
  position: absolute;
  margin-top: 90px;
}

#lavacake {
  margin-left: 215px;
  margin-top: 40px;
  margin-bottom: -20px;
  animation-name: cakeJump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes cakeJump {
  from {
    margin-bottom: -26px;
  }

  to {
    margin-bottom: -20px;
  }
}

#cake-name {
  position: absolute;
  margin-left: 230px;
  margin-top: -70px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#cake-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 230px;
  position: absolute;
  margin-top: -25px;
}

#cake-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 435px;
  position: absolute;
  margin-top: 50px;
}

#icecream {
  margin-left: 28px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#cream-name {
  position: absolute;
  margin-left: 548px;
  margin-top: -70px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#cream-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 548px;
  position: absolute;
  margin-top: -25px;
}

#cream-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 750px;
  position: absolute;
  margin-top: 50px;
}

#cheesecake {
  margin-left: 92px;
  margin-bottom: 25px;
  animation-name: cheesecakeJump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes cheesecakeJump {
  from {
    margin-bottom: 25px;
  }

  to {
    margin-bottom: 31px;
  }
}

#cheesecake-name {
  position: absolute;
  margin-left: 863px;
  margin-top: -70px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#cheesecake-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 863px;
  position: absolute;
  margin-top: -25px;
}

#cheesecake-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 1070px;
  position: absolute;
  margin-top: 50px;
}

#bruschetta {
  margin-left: 250px;
  margin-top: 20px;
  animation-name: bruschettaJump;
  animation-duration: s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bruschettaJump {
  from {
    margin-top: 26px;
  }

  to {
    margin-top: 20px;
  }
}

#bruschetta-name {
  position: absolute;
  margin-left: 230px;
  margin-top: -45px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#bruschetta-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 230px;
  position: absolute;
  margin-top: 3px;
}

#bruschetta-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 435px;
  position: absolute;
  margin-top: 70px;
}

#fries {
  margin-left: 70px;
  margin-bottom: 20px;
  animation-name: friesJump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes friesJump {
  from {
    margin-bottom: 20 px;
  }

  to {
    margin-bottom: 26px;
  }
}

#fries-name {
  position: absolute;
  margin-left: 548px;
  margin-top: -45px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#fries-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 548px;
  position: absolute;
  margin-top: 3px;
}

#fries-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 750px;
  position: absolute;
  margin-top: 70px;
}

#nuggets {
  margin-left: 73px;
  margin-bottom: -24px;
  animation-name: nuggetsJump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes nuggetsJump {
  from {
    margin-bottom: -32px;
  }

  to {
    margin-bottom: -24px;
  }
}

#nuggets-name {
  position: absolute;
  margin-left: 863px;
  margin-top: -45px;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #631e11;
}

#nuggets-text {
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  color: #631e11;
  margin-left: 863px;
  position: absolute;
  margin-top: 3px;
}

#nuggets-price {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  color: #631e11;
  margin-left: 1070px;
  position: absolute;
  margin-top: 70px;
}
